@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.TheTransparent {
  background: transparent;
  padding: 3px 8px;
}

.The34C768 {
  background: #168736;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  padding: 3px 8px;
}

.TheFFE600 {
  background: #ffe600;
  color: #2e2e38;
  font-weight: 700;
  border-radius: 10px;
  padding: 3px 8px;
}

.TheFF9831 {
  background: #ff9831;
  color: #2e2e38;
  font-weight: 700;
  border-radius: 10px;
  padding: 3px 8px;
}

.TheE0362C {
  background: #b9251c;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  padding: 3px 8px;
}

.The747480 {
  background: #747480;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  padding: 3px 8px;
}
